<header>

  <div class="container">
    
    <div class="row no-padding">

      <div class="col-xs-2">
        <img class="brand" src="assets/images/image.jpg">
      </div>

      <div class="col-xs-4">
        <div class="product-info">
          <h2>PulseInc Patient Portal</h2>
          <span>3020 N Cypress, Wichita, KS-67266</span><br>
          <span>800-444-0882</span>
        </div>
      </div>

      <div class="col-xs-2 col-xs-offset-4">
        <button type="button" class="btn btn-primary pull-right" (click)="authService.logout()">
          <span><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span>
        </button>
      </div>

    </div>

  </div>

</header>

<!-- top navigation -->
<pp-nav></pp-nav>