<div class="content">

  <div class="row justify-content-md-center">

    <div class="card inner-card">

      <div class="card-block">

        <h2 class="card-title">{{formTitle | myCapitalize}}</h2>

        <div class="form-group">
          <label for="firstname">FIRST NAME</label>
          <input [(ngModel)]="user.firstname" type="text" id="firstname" class="form-control">
        </div>

        <div class="form-group">
          <label for="lastname">LAST NAME</label>
          <input [(ngModel)]="user.lastname" type="text" id="lastname" class="form-control">
        </div>

        <div class="form-group">
          <button class="btn btn-primary" (click)="post()">SAVE</button>
        </div>

      </div>

    </div>

  </div>

</div>
