<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h2 class="modal-title center_text" id="exampleModalLabel">{{client.clientname | myCapitalize }}</h2>

      </div>

      <div class="modal-body">
        
        <div class="form-group">
            <label for="clientname">CLIENT NAME</label>
            <input [(ngModel)]="client.clientname" id="clientname" class="form-control" type="text">
          </div>

          <div class="form-group">
            <label for="clientno">CLIENT NUMBER</label>
            <input [(ngModel)]="client.clientno" id="clientno" class="form-control" type="text">
          </div>

          <div class="form-group">
            <label for="ipaddress">CLIENT IP ADDRESS</label>
            <input [(ngModel)]="client.ipaddress" id="ipaddress" class="form-control" type="text">
          </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveItem()">Save changes</button>
      </div>

    </div>

  </div>

</div>
