@import '../../../../assets/stylesheets/variables';

.navbar-default {
    font-weight: bold;
    background-color: $blue_bg;

    .navbar-nav > li > a {
        padding-top: 17px;
        padding-bottom: 18px;
        color: #FFF;

        &:hover,
        &.active {
            background-color:#0069a3;
        }
    }
}