$bg_color: #f8f8f8;
$text_color: #5a6870;
$content_bg_color: #FFF;
$box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
$table-header-bg: #F0EFEF;
$table-line-color: gray;
$blue_bg: #0088d4;
$gray: gray;